[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Gerrit test
[access "refs/*"]
	owner = group user/tim.ye (timYah)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tim.ye (timYah)
	label-Verified = -1..+1 group user/tim.ye (timYah)
	push = group user/tim.ye (timYah)
	read = group user/tim.ye (timYah)
	rebase = group user/tim.ye (timYah)
	removeReviewer = group user/tim.ye (timYah)
	submit = group user/tim.ye (timYah)
[access "refs/heads/*"]
	create = group user/tim.ye (timYah)
	push = +force group user/tim.ye (timYah)
	pushMerge = group user/tim.ye (timYah)
	read = group user/tim.ye (timYah)
[access "refs/tags/*"]
	push = group user/tim.ye (timYah)
	push = +force group user/tim.ye (timYah)
